html {
  scroll-behavior: smooth;
}

#hello {
  color: #f8f9fa;
  margin-top: 17%;
  letter-spacing: 2px;
  text-align: center;
  margin-left:15%;
  margin-right: 10%;
  text-align: left;
  display: block;
  position: relative;
  height: 25vh;
}
#sectionone {
  min-height: 85vh;
}

#sectiontwo, #sectionthree, #sectionfour {
  min-height: 95vh
}

.skillrow {
  color: #bdbbed;
  transition: all 0.2s ease-in-out;
  font-size: x-large;
  display: flexbox;
}

.skillsandbtns {
  height: 50vh;
}

.skills {
  justify-content: center;
  justify-items: center;
  break-inside: auto;
}

.skillrow:hover {
  transform: scale(1.2);
  border-radius: 0px;
  background: transparent;
}

/* main page background gradient */
body {
  background: #43c6ac; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #191654,
    #43c6ac
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #191654,
    #43c6ac
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* navbar styling */
nav {
  position: fixed;
  top: 0;
  left: 0;
}

.nav-item {
  color: #f8f9fa;
}

#hellocontactbtn {
  width: fit-content;
  letter-spacing: 2px;
  border-radius: 2rem;
}

.bi-chevron-down {
  fill: #f8f9fa;
  width:70px; 
  height:70px;
  margin-top: 80px;
  position: sticky;
  cursor: pointer;
}

.bi-chevron-down:hover{
  transform: scale(1.3);
  border-radius: 0px;
  background: transparent;
  text-shadow: 9px 9px 28px #5f6d75, -9px -9px 28px #c1ddef;
}

.bi-chevron-up {
  fill: #f8f9fa;
  width:70px; 
  height:70px;
  margin-top: 80px;
  position: sticky;
  cursor: pointer;
}

.bi-chevron-up:hover{
  transform: scale(1.3);
  border-radius: 0px;
  background: transparent;
  text-shadow: 9px 9px 28px #5f6d75, -9px -9px 28px #c1ddef;
}

div {
  display: block;
}

.scottphoto {
  border-radius: 50%;
  width: 284px;
  padding-right: 2px;
  height: 284px;
  float: left;
  position: relative;
  margin:4px 20px 10px 4px;
  shape-outside: circle();
}

.biocard {
  background-color: #1513114D;
  color: #f8f9fa;
  border: none;
  border-radius: 12px;
  min-height: 325px;
  padding:18px;
}

.biotext{
  font-size: large;
}

.spacer {
  height: 50px;
}

.appcol {
  padding:0;
}
.appcard {
  background-color:  #1513114D;
  color: #f8f9fa;
  margin: 20px;
  border:none;
  border-radius: 12px;
}

h1, h5{
  color: #bdbbed;
}

.whitetext {
  color: #f8f9fa;
  font-size: larger;
  margin-bottom: 0;
}

.contactcard {
  max-width: 600px;
  padding:30px
}

a { 
  text-decoration: none; 
}

ul {
  list-style: none;
  list-style-position: unset;
  padding-left: 0;
}

li {
  line-height: 2.5;
}

