html {
  scroll-behavior: smooth;
}

hr {
  margin: 2rem 0;
  background-image: linear-gradient(to right, #272283, #43c6ac);
  border: 0;
  height: 2px;
}

#hello {
  color: #e7e7e7;
  margin-top: 10%;
  letter-spacing: 2px;
  display: flexbox;
  justify-content: center;
  margin: 10%;
  text-align: center;
  margin-bottom: 5%;
  position: relative;
  vertical-align: top;
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 2.6s;
  -moz-animation: fadeIn ease 2.6s;
  -o-animation: fadeIn ease 2.6s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#welcome {
  min-height: 85vh;
  max-width: 100vw;
}

#about-me,
#my-work,
#contact {
  min-height: 95vh;
  max-width: 100vw;
  background-color: rgb(19, 19, 19);
}

.skillrow {
  color: #bdbbed;
  transition: all 0.2s ease-in-out;
  font-size: x-large;
}

.skillsandbtns {
  max-width: 100vw;
  position: relative;
  vertical-align: middle;
}

.skills {
  display: flexbox;
  justify-content: center;
  line-height: 1.3;
  text-align: center;
  text-justify: inter-word;
  margin-bottom: 1%;
  display: block;
}

.skillrow:hover {
  transform: scale(1.2);
  border-radius: 0px;
  background: transparent;
  display: inline-block;
}

/* main page background gradient */
body {
  background: #43c6ac; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #191654,
    #43c6ac
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #191654,
    #43c6ac
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradienttext {
  background: #43c6ac; /* fallback for old browsers*/
  background: -webkit-linear-gradient(
    to right,
    #272283,
    #43c6ac
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #272283,
    #43c6ac
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* navbar styling */
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.nav-list {
  width: 16rem;
  height: 100vh;
  background-color: rgb(19, 19, 19, 0.9);
  position: fixed;
  top: 0;
  right: -26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 50;
  transition: all 300ms ease-in-out;
}

.nav-list.active {
  right: 0;
}

.nav-item {
  margin: 1.2rem 0;
}

.nav-link {
  opacity: 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #e7e7e7;
  letter-spacing: 1.2px;
  line-height: normal;
}

.nav-link:hover {
  color: #bdbbed;
}

.toggle {
  background: none;
}
.toggle .burgline1 {
  transform: rotate(-45deg) translate(-15px, 6px) scaleX(.85);
}

.toggle .burgline2 {
  opacity: 0;
}

.toggle .burgline3 {
  transform: rotate(45deg) translate(-15px, -6px) scaleX(.85);
  margin-left: 0;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.nav-brand {
  width: 7rem;
}

.burgline1 {
  width: 50px;
  height: 5px;
  margin: 10px 0;
  background: #43c6ac; /* fallback for old browsers*/
  background: -webkit-linear-gradient(
    to right,
    #272283,
    #43c6ac
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #272283,
    #43c6ac
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.burgline2 {
  width: 50 px;
  height: 5px;
  background: #43c6ac; /* fallback for old browsers*/
  background: -webkit-linear-gradient(
    to right,
    #272283,
    #43c6ac
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #272283,
    #43c6ac
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.burgline3 {
  width: 50px;
  height: 5px;
  margin: 10px 0;
  background: #43c6ac; /* fallback for old browsers*/
  background: -webkit-linear-gradient(
    to right,
    #272283,
    #43c6ac
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #272283,
    #43c6ac
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.burger-menu-icon {
  cursor: pointer;
  z-index: 999;
  position: fixed;
  right: 0rem;
  top: 0;
  background: rgb(19, 19, 19);
  padding: 1rem;
  border-radius: 0% 0% 0% 40%;
}

#hellocontactbtn {
  min-width: 200px;
  margin-top: 20px;
  letter-spacing: 2px;
  border-radius: 2rem;
  font-size: x-large;
}

.bi-chevron-down {
  fill: #43c6ac;
  width: 70px;
  height: 70px;
  margin-top: 25px;
  position: sticky;
  cursor: pointer;
}

.bi-chevron-down:hover {
  transform: scale(1.3);
  border-radius: 0px;
  background: transparent;
  text-shadow: 9px 9px 28px #5f6d75, -9px -9px 28px #c1ddef;
}

.bi-chevron-up {
  fill: #43c6ac;
  width: 70px;
  height: 70px;
  margin-top: 80px;
  position: sticky;
  cursor: pointer;
  margin-bottom: 10px;
}

.bi-chevron-up:hover {
  transform: scale(1.3);
  border-radius: 0px;
  background: transparent;
  text-shadow: 9px 9px 28px #5f6d75, -9px -9px 28px #c1ddef;
}

div {
  display: block;
}

.scottphoto {
  border-radius: 50%;
  width: 284px;
  padding-right: 2px;
  height: 284px;
  float: left;
  position: relative;
  margin: 4px 20px 10px 4px;
  shape-outside: circle();
}

.scottnavphoto {
  height: 9rem;
  width: auto;
  border-radius: 50%;
  display: block;
  margin: 1.5rem 0;
}

.biocard {
  background-color: #1513114d;
  color: #e7e7e7;
  border: none;
  border-radius: 12px;
  min-height: 325px;
  padding: 18px;
}

.biotext {
  font-size: large;
}

.spacer {
  height: 50px;
}

.appcol {
  padding: 0;
}
.appcard {
  background-color: transparent;
  color: #e7e7e7;
  margin: 20px;
  border: none;
  border-radius: 12px;
}

h1,
h5 {
  display: block;
}

.whitetext {
  color: #e7e7e7;
  font-size: larger;
  margin-bottom: 0;
}

.tealtext {
  color: #43c6ac;
  font-size: medium;
  margin-bottom: 0;
}

.contactcard {
  max-width: 500px;
  padding: 30px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  list-style-position: unset;
  padding-left: 0;
}

li {
  line-height: 2.5;
}

footer {
  text-align: center;
  justify-content: space-evenly;
  background: rgb(19, 19, 19);
  padding-bottom: 20px;
}

.fa {
  display: inline;
}
